*.py    text=auto   eol=lf
*.json  text=auto   eol=lf
*.pkl   filter=lfs  diff=lfs    merge=lfs
*.csv   filter=lfs  diff=lfs    merge=lfs
*.bin   filter=lfs  diff=lfs    merge=lfs
*.pt    filter=lfs  diff=lfs    merge=lfs
*.pth   filter=lfs  diff=lfs    merge=lfs
*.safetensors   filter=lfs  diff=lfs    merge=lfs
